[user]
	name = Matthijs van den Bos
	email = matthijs@vandenbos.org
[push]
    default = simple
    autoSetupRemote = true
[alias]
    co = checkout
    ci = commit
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(blue)(%an)%Creset'  --abbrev-commit --date=relative
    st = status -s -b
    br = branch
    bl = branch --sort=-committerdate --format='%(HEAD) %(color:yellow)%(align:width=40,position=left)%(refname:short)%(end) %(color:reset)%(subject) %(color:green)(%(committerdate:relative)) %(color:blue)(%(authorname))%(color:reset)' --color=always
    brem = branch --sort=-committerdate --format='%(HEAD) %(color:yellow)%(align:width=40,position=left)%(refname:short)%(end) %(color:reset)%(subject) %(color:green)(%(committerdate:relative)) %(color:blue)(%(authorname))%(color:reset)' --color=always --remote
    pr = pull-request
    gr = grep -i -n -0 --heading --break
    sw = switch
[color]
	ui = true
    interactive = auto
[core]
    editor = vim
    excludesfile = ~/.gitignore-global
	pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
    singleKey = true
	diffFilter = diff-so-fancy --patch
[checkout]
    workers = 8
    defaultRemote = origin
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[merge]
    tool = vimdiff
    conflictstyle = diff3
[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
    required = true
	process = git-lfs filter-process
[color "diff"]
	whitespace = red reverse
	meta = yellow bold
	frag = magenta bold
	commit = yellow bold
	old = red
	new = green
[fetch]
    prune = true
    parallel = 8
[pull]
    ff = only
[submodule]
    fetchJobs = 8
    recurse = true
[status]
    submodulesummary = 1
[color "diff-highlight"]
	oldNormal = red
	oldHighlight = red 52
	newNormal = green
	newHighlight = green 22
[includeIf "gitdir/i:~/Developer/ING/"]
  path = ~/Developer/ING/.gitconfig
[advice]
	addIgnoredFile = false
	detachedHead = false
[init]
	defaultBranch = main
[rebase]
    # Prevent accidentally dropping commits by deleting lines. Use 'drop' to drop commits.
    missingCommitsCheck = error
    abbreviateCommands = true
[diff-so-fancy]
	first-run = false
[credential]
	gitHubAccountFiltering = false
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential "azrepos:org/INGCDaaS"]
	azureAuthority = https://login.microsoftonline.com/587b6ea1-3db9-4fe1-a9d7-85d4c64ce5cc
	username = Matthijs.van.den.Bos@ing.com
