[user]
    name = Matthijs van den Bos
    email = matthijs@vandenbos.org
[credential]
    helper = store
[push]
    default = current
[alias]
    co = checkout
    ci = commit
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(blue)(%an)%Creset'  --abbrev-commit --date=relative
    st = status -s -b
    br = branch
    pr = pull-request
    gr = grep -i -n -0 --heading --break
[color]
    ui = true
    interactive = auto
[core]
    editor = vim
    excludesfile = /Users/matthijs/.gitignore-global
[pager]
    log = ~/.bin/diff-highlight | less -RFX
    show = ~/.bin/diff-highlight | less -RFX
    diff = ~/.bin/diff-highlight | less -RFX
[interactive]
    singleKey = true
    diffFilter = ~/.bin/diff-highlight
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[merge]
    tool = vimdiff
    conflictstyle = diff3
[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[color "diff"]
    whitespace = red reverse
    meta = yellow
    frag = magenta bold
    commit = yellow bold
    old = red
    new = green
[fetch]
    prune = true
    parallel = 2
[submodule]
    fetchJobs = 2
    recurse = true
[status]
    submodulesummary = 1
[color "diff-highlight"]
    oldNormal = red
    oldHighlight = red bold 52
    newNormal = green
    newHighlight = green bold 22
