[submodule "vim/.vim/pack/my-plugins/start/nerdtree"]
	path = vim/.vim/pack/my-plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/.vim/pack/my-plugins/start/vim-sensible"]
	path = vim/.vim/pack/my-plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/.vim/pack/my-plugins/start/vim-surround"]
	path = vim/.vim/pack/my-plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/pack/my-themes/start/dracula"]
	path = vim/.vim/pack/my-themes/start/dracula
	url = https://github.com/dracula/vim.git
[submodule "vim/.vim/pack/my-plugins/start/vim-airline"]
	path = vim/.vim/pack/my-plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/.vim/pack/my-plugins/start/vim-gitgutter"]
	path = vim/.vim/pack/my-plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/.vim/pack/my-plugins/start/vim-fugitive"]
	path = vim/.vim/pack/my-plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/pack/my-plugins/start/vim-markdown"]
	path = vim/.vim/pack/my-plugins/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "vim/.vim/pack/my-plugins/start/vim-airline-clock"]
	path = vim/.vim/pack/my-plugins/start/vim-airline-clock
	url = https://github.com/enricobacis/vim-airline-clock
[submodule "vim/.vim/pack/my-plugins/start/vim-markdown-preview"]
	path = vim/.vim/pack/my-plugins/start/vim-markdown-preview
	url = https://github.com/JamshedVesuna/vim-markdown-preview.git
[submodule "vim/.vim/pack/my-plugins/start/terminus"]
	path = vim/.vim/pack/my-plugins/start/terminus
	url = https://github.com/wincent/terminus.git
